#container1 {
	padding:5px;
	margin: 5px;
	border-width: 5px;
	border-style: solid;
	border-color: #5b4000;
	height:80px;
	width:370px;
}

#container2 {
	padding:5px;
	border-width: 5px;
	border-style: solid;
	border-color: #0e5252;
	height:70px;
	width:380px;
}