#red {
	: 300px;
	left: 400px;
	z-index: 2;
}

#silver {
	top: 350px;
	left: 450px;
	z-index: 1;
}

#green {
	top: 100px;
	right: 0px;
	position: fixed;
}

#blue {
position: relative
}

#yellow {
	position: absolute;
	bottom:0px;
	right:0px;
}

